<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Anywhere Routing Rule Set</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.argsment.Anywhere-Routing-Rule-Set</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Anywhere MITM Rule Set</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.argsment.Anywhere-MITM-Rule-Set</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.argsment.Anywhere.scheme.anywhere</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>anywhere</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.argsment.Anywhere.scheme.vless</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vless</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.argsment.Anywhere.scheme.hysteria2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hysteria2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.argsment.Anywhere.scheme.hy2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hy2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.argsment.Anywhere.scheme.nowhere</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nowhere</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.argsment.Anywhere.scheme.trojan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>trojan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.argsment.Anywhere.scheme.anytls</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>anytls</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.argsment.Anywhere.scheme.ss</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ss</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.argsment.Anywhere.scheme.sudoku</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sudoku</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
